* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

#message {
  font-size: 8vmin;
  margin: 2rem;
}

.dark-mode {
  background-color: #00072d;
  color: #a6e1fa;
  .game {
    background-color: #0A2472;
  }
  .box {
    background-color: #0E6BA8;
    color: #a6e1fa;
    box-shadow: 0 0 5px #3d74a0d8;
  }
  .btns {
    background-color: #a6e1fa;
  }
}

.light-mode {
  background-color: #a6e1fa;
  color: #001c55;
  .game {
    background-color: #0E6BA8;
  }
  .box {
    background-color: #0A2472;
    color: #a6e1fa;
    box-shadow: 0 0 5px #cae1f4d8;
  }
  .btns {
    background-color: #001c55;
    color: #a6e1fa;
  }
}

body {
  text-align: center;
}

h1 {
  margin-top: 2rem;
  font-size: 3rem;
}

.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  padding: 2vmin;
  border-radius: 2rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  font-size: 8vmin;
}

.btns {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  margin: 1rem;
}

.hidden {
  display: none;
}
